<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css') }}">
      <title>SS App</title>
      <style> html { background-color: #141e30; } </style>
    </head>
    
    <body class="bg-[#141e30] h-screen">
      
      <nav class="bg-gray-900 pl-5 pr-5 h-16 border-b border-[#0b8793] flex flex-wrap justify-between items-center mx-auto">
        <a class="text-white font-bold text-2xl flex mr-5 items-center" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="#0b8793">
            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          Home
        </a>
        <a href="/new" id="addInTemplate">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="#0b8793" stroke-width="3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
          </svg>
        </a>
      </nav>

      <div class="flex flex-wrap justify-center items-center">
        {% block content %}{% endblock %}
      </div>
      
  </body>
</html>
