{% extends "base_template.html" %}

{% block content %}

<form class="flex items-center mb-3 mt-7" action="{{ url_for('busqueda', index = _index) }}" method="POST">   
    <div class="relative w-full">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-sky-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input type="text" autocomplete="off" name="search" class="bg-gray-900 border border-sky-400 text-sky-400 text-sm rounded-lg block w-[900px] pl-10 p-2.5 placeholder-sky-400 focus:outline-none focus:ring focus:ring-sky-400" placeholder="Buscar" required>
    </div>
    <button type="submit" class="p-2.5 ml-2 bg-sky-600 rounded-lg hover:bg-sky-800 hover:text-sky-100"><svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
</form>

<div class="">
    {% for mat in mats %}

        <div class="block p-4 w-[1152px] bg-gray-900 max-h-48 rounded-lg border border-sky-400 hover:bg-gray-800 my-6">
            <a href="{{ url_for('show', carrera = _index, id = mat['id']) }}">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-sky-600">{{ mat['title'] }}</h5>
                <p class="font-normal text-gray-400 truncate">{{ mat['description'] }}</p>
            </a> 
        </div>

    {% endfor %}
</div>

{% endblock %}